{% extends "layout.html" %}
{% import "_macros.html" as macro %}
    {% block container %}

    <form action = "" method = "post" novalidate>

        {{ macro.campoNuevos(form.matricula)}}
        {{ macro.campoNuevos(form.nombre) }}
        {{ macro.campoNuevos(form.apellido) }}
        {{ macro.campoNuevos(form.correo)}}
        <input type="submit" value="Guardar" class="btn btn-primary">

    </form>

    <h2>Matricula: {{mat}}</h2>
    <h2>Nombre: {{nom}}</h2>
    <h2>Apellido: {{ape}}</h2>
    <h2>Correo: {{email}}</h2>

    {% endblock %}