{% extends "layout.html" %}
{% import "_macros.html" as datos_macro %}

    {% block container %}

    <h1>Distancia</h1>

    <form action="" method="post">

        {{ datos_macro.datos('x1', 'Ingrese x1') }}
        {{ datos_macro.datos('x2', 'Ingrese x2') }}
        {{ datos_macro.datos('y1', 'Ingrese y1') }}
        {{ datos_macro.datos('y2', 'Ingrese y2') }}

        <button type="submit" class="btn btn-primary">Calcular</button>


    </form>
    <h1>Distancia entre dos puntos: {{resu}} </h1>

    {% endblock %}