{% macro datos(name,placeholder,type='text') %}

<div class="mb-3">
  <label for="{{name}}" class="form-label">{{name}}</label>
  <input
    type="{{type}}"
    class="form-control"
    id="{{name}}"
    name="{{name}}"
    placeholder="{{placeholder}}"
  />
</div>

{% endmacro %}

{% macro campoNuevos(field) %}

<td>{{field.label}}</td>
<dd>{{field(**kwargs) | safe}}</dd>

{% if field.errors %}
<ul>
  {% for error in field.errors %}
  <li style="color: red;">{{error}}</li>
  {% endfor %}
</ul>
{% endif %}

{% endmacro %}

{% macro render_field(field) %}
  <div>
    <label for="{{ field.id }}">{{ field.label }}</label>
      {{ field() }}
      {% for error in field.errors %}
      <li style="color: red;">{{ error }}</li>
      {% endfor %}
  </div>
{% endmacro %}
